.footer {
    background-color: black;
    color: white;
    padding: 3rem;
    margin-top: 2rem;
}

.footer__container {
    max-width: 1024px;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.footer__description{
    font-size: 2.5rem;
}

.footer__description > a {
    text-decoration: underline;
    color: white;
}

.footer__description>a:hover {
    opacity: 0.75;
}

.footer__socialmedia__links {
    display: flex;
    list-style-type: none;
    display: flex;
    position: center;
    justify-content: center;
    padding: 3rem;
}

.footer__socialmedia__links > li > a {
    text-decoration: none;
    color: white;
    margin: 2rem;
    font-size: 1.2rem;
}

.footer__socialmedia__links>li>a:hover {
    opacity: 0.75;
}

@media screen and (max-width: 600px) {
    .footer{
        margin-top: 0.5rem;
        padding: 3rem 2rem;
    }
    .footer__container{
        margin-top: 0rem;
    }
    .footer__description {
        font-size: 1.5rem;
    }
    .footer__socialmedia__links {
        display: flex;
        padding: 2rem;
        padding-bottom: 0rem;
    }
    .footer__socialmedia__links>li>a {
        text-decoration: none;
        color: white;
        font-size: 1rem;
    }
}

@media screen and (max-width: 350px) {

    .footer__socialmedia {
        display: none;
    }
    
    .footer__description{
        font-size: 1.5rem;
    }
    
    .footer__description > a {
        font-size: 1rem;
    }
}
